<table class="table">
  <thead class="table-light">
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Occupation</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr class="table-light">
      <td>Mark</td>
      <td>Otto</td>
      <td>Frontend</td>
    </tr>
    <tr class="table-light">
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Backend</td>
    </tr>
    <tr class="table-light">
      <td>John</td>
      <td>Doe</td>
      <td>Marketing</td>
    </tr>
  </tbody>
</table>